.conf svg {
	color: white!important;
}

.c-input-file {
	margin-left: 12px;
}

.c-input-file input[type="file"] {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.c-input-desc {
	display: block!important;
}
