#clock {
	zoom: 3;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

#clock .flip-clock-label {
	display: none;
}

#clock .flip {
	width: 10px !important;
}

#clock .flip .inn {
	background-color: #000;
}

#clock .flip-clock-dot {
	background-color: #00ff43;
}
#clock .flip .inn {
	color: #00ff43;
}

#clock.orange .flip-clock-dot {
	background-color: #ffb100;
}
#clock.orange .flip .inn {
	color: #ffb100;
}

#clock.red .flip-clock-dot {
	background-color: #ff0000;
}
#clock.red .flip .inn {
	color: #ff0000;
}

#clock .flip .up::after {
	background-color: rgba(0, 0, 0, 0);
}
